@using Fias.ViewModels
@model Fias.ViewModels.AddressObjectViewModel

<link href="/css/modalbody.css" rel="stylesheet" />
<link href="/css/validation.css" rel="stylesheet" />

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title active" style="margin: 0px auto;">Адресообразующий объект</div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form asp-controller="AddressObject" asp-action="Post" method="post" id="modalForm">
                <div class="editor-label">
                    <label asp-for="FormalName"></label>
                </div>
                <div class="editor-field">
                    <input asp-for="FormalName"/>
                    <span asp-validation-for="FormalName"></span>
                </div>

                <div class="editor-label">
                    <label asp-for="ShortName"></label>
                </div>
                <div class="editor-field">
                    <input asp-for="ShortName"/>
                    <span asp-validation-for="ShortName"></span>
                </div>

                <div class="editor-label">
                    <label asp-for="Level"></label>
                </div>
                <div class="editor-field">
                    <span asp-validation-for="Level" ></span>
                    <select asp-for="Level" asp-items="Html.GetEnumSelectList<AddressObjectLevel>()"></select>
                </div>

                <div class="editor-label">
                    <label asp-for="Status"></label>
                </div>
                <div class="editor-field">
                    <input asp-for="Status"/>
                    <span asp-validation-for="Status"></span>
                </div>

                <div class="editor-label">
                    <label asp-for="RegionCode"></label>
                </div>
                <div class="editor-field">
                    <input asp-for="RegionCode"/>
                    <span asp-validation-for="RegionCode"></span>
                </div>

                <div class="editor-label">
                    <label asp-for="PostalCode"></label>
                </div>
                <div class="editor-field">
                    <input asp-for="PostalCode"/>
                    <span asp-validation-for="PostalCode"></span>
                </div>

                <div hidden>
                    <input asp-for="Id"/>
                </div>

                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

<script src="/scripts/submitmodal.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>