<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a asp-controller="Home" asp-action="Index" class="navbar-brand">ФИАС</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Администрирование
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a asp-controller="Admin" asp-action="Index" class="dropdown-item">Пользователи</a>
                    <a asp-controller="RoleAdmin" asp-action="Index" class="dropdown-item">Роли</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="nav-item navbar-brand">
                    Hello, @User.Identity.Name!
                </div>
                <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Выйти</a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Зарегистрироваться</a>
                <a asp-controller="Account" asp-action="Login" class="btn btn-danger">Войти</a>
            }
        </form>
    </div>
</nav>