<div class="jumbotron">
    <h1 class="h1" align="center">Федеральная информационная адресная система</h1>
    <p class="alert-info">Государственный адресный реестр – это государственный базовый информационный ресурс, содержащий сведения об адресах и о реквизитах документов о присвоении, об изменении, аннулировании адреса.</p>
</div>

<div align="center">
    <h2>Адресообразующие элементы</h2>
    <a asp-controller="AddressObject" asp-action="List">
        <img src="~/images/city.png" alt="address objects" asp-append-version="true"/>
    </a>
</div>


<div align="center">
    <h2>Дома</h2>
    <a asp-controller="House" asp-action="List">
        <img src="~/images/building.png" alt="houses" />
    </a>
</div>

<div align="center">
    <h2>OData-сервис</h2>
    <a href="~/odata">
        <img src="~/images/odata.jpg" alt="odata service" height="128" width="128" />
    </a>
</div>