@model IList<DatabaseAPI.Models.AddressObject>
<h3>From view component</h3>
<div>
    <h4>Objects</h4>
    <ul>
        <li>Total Items: @Model.Count</li>
    </ul>
    <table>
        <tr>
            <th>AOID</th>
            <th>SHORTNAME</th>
            <th>FORMALNAME</th>
        </tr>
        @foreach (var ao in Model)
        {
            <tr>
                <td>@ao.AOID</td>
                <td>@ao.SHORTNAME</td>
                <td>@ao.FORMALNAME</td>
            </tr>
        }
    </table>
</div>